<div class="card__container  ff-roboto-mono ">
  <div class="{{ pensamento.modelo }} " [ngClass]="larguraPensamento()">
      <img src="../../../assets/imagens/{{pensamento.modelo}}.png" alt="modelo azul-escuro">
          <div class="card__text">
            <p class="ff-roboto-mono">
              {{ pensamento.conteudo }}
            </p>
          <h3>{{ pensamento.autoria }}</h3>
        </div>
        <div class="acoes">
            <button (click)="atualizarFavoritos()" class="acao">
                <img src="../../../assets/imagens/icone-favorito-{{ mudarIconeFavorito() }}.png" alt="icone de coração {{ mudarIconeFavorito() }}">
            </button>
            <button routerLink="/editarPensamento/{{pensamento.id}}" class="acao">
                <img src="../../../assets/imagens/icone-editar.png" alt="">
            </button>
              <button  class="acao" routerLink="/excluirPensamento/{{pensamento.id}}">
                <img src="../../../assets/imagens/icone-excluir.png" alt="">
            </button>
        </div>
    </div>
</div>

