<section class="ff-inter">
  <h2>Adicione um novo pensamento:</h2>
  <form class="formulario ff-inter" action="">
    <div class="pensamento">
      <label class="textos">Pensamento</label>
      <textarea class="pensamento" id="pensamento" [(ngModel)]="pensamento.conteudo"  name="pensamento" placeholder="Digite seu pensamento" type="textarea"></textarea>
    </div>
    <div class="fonte">
      <label class="textos">Autor(a) ou Fonte</label>
      <textarea class="fonte" name="fonte" [(ngModel)]="pensamento.autoria" placeholder="Insira o nome do(a) autor(a) ou fonte" type="text"></textarea>
    </div>
    <fieldset class="modelo">
      <label class="textos">Selecione o modelo do card:</label>
      <div class="opcoes">
          <div class="opcao">
            <div class="opcao__modelo">
              <input name="modelo" value="modelo1" class="tipo__modelo" type="radio">
              <label for="modelo1">Modelo 1</label>
            </div>
            <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo1">
                <img src="../../../assets/imagens/modelo1.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                    {{ pensamento.conteudo }}
                  </p>
                  <h3>{{ pensamento.autoria }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="opcao">
            <div class="opcao__modelo">
              <input name="modelo" value="modelo2" class="tipo__modelo" type="radio">
              <label for="modelo2">Modelo 2</label>
            </div>
            <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo2">
                <img src="../../../assets/imagens/modelo2.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                    {{ pensamento.conteudo }}
                  </p>
                  <h3>{{ pensamento.autoria }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="opcao">
            <div class="opcao__modelo">
              <input name="modelo" value="modelo3" class="tipo__modelo" type="radio">
              <label for="modelo3">Modelo 3</label>
            </div>
              <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo3">
                <img src="../../../assets/imagens/modelo3.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                   {{ pensamento.conteudo }}
                  </p>
                  <h3>{{ pensamento.autoria }}</h3>
                </div>
              </div>
            </div>
          </div>
      </div>
    </fieldset>
    <div class="buttons">
      <button (click)="criarPensamento()" routerLink   class="button">Salvar</button>
      <button (click)="cancelarPensamento()" routerLink="/" class="button">Cancelar</button>
    </div>
  </form>
</section>
