<section class="ff-inter">
  <h2>Adicione um novo pensamento:</h2>
  <form [formGroup]="formulario" class="formulario ff-inter" action="">
    <div class="pensamento">
      <label class="textos">Pensamento</label>
      <textarea class="pensamento" id="pensamento"  formControlName="conteudo" placeholder="Digite seu pensamento" type="textarea"></textarea>
      <div class="mensagem__erro" *ngIf="formulario.get('conteudo')?.errors?.['required'] && formulario.get('conteudo')?.touched" >
          Pensamento é obrigatório!
      </div>
    </div>
    <div class="fonte">
      <label class="textos">Autor(a) ou Fonte</label>
      <textarea class="fonte" formControlName="autoria"  placeholder="Insira o nome do(a) autor(a) ou fonte" type="text"></textarea>
      <div class="mensagem__erro"
      *ngIf="formulario.get('autoria')?.errors?.['minlength'] && formulario.get('autoria')?.touched">
          Autoria precisa ter no mínimo 3 caracteres!
      </div>
    </div>
    <fieldset class="modelo">
      <label class="textos">Selecione o modelo do card:</label>
      <div class="opcoes">
          <div class="opcao">
            <div class="opcao__modelo">
              <input formControlName="modelo" value="modelo1" class="tipo__modelo" type="radio">
              <label for="modelo1">Modelo 1</label>
            </div>
            <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo1">
                <img src="../../../assets/imagens/modelo1.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                    {{ formulario.get("conteudo")?.value }}
                  </p>
                  <h3>{{ formulario.get("autoria")?.value }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="opcao">
            <div class="opcao__modelo">
              <input formControlName="modelo" value="modelo2" class="tipo__modelo" type="radio">
              <label for="modelo2">Modelo 2</label>
            </div>
            <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo2">
                <img src="../../../assets/imagens/modelo2.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                    {{ formulario.get("conteudo")?.value }}
                  </p>
                  <h3>{{ formulario.get("autoria")?.value }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="opcao">
            <div class="opcao__modelo">
              <input formControlName="modelo" value="modelo3" class="tipo__modelo" type="radio">
              <label for="modelo3">Modelo 3</label>
            </div>
              <div class="card__container">
              <p>Prévia:</p>
              <div class="modelo3">
                <img src="../../../assets/imagens/modelo3.png" alt="modelo azul-escuro">
                <div class="card__text">
                  <p class="ff-roboto-mono">
                   {{ formulario.get("conteudo")?.value }}
                  </p>
                  <h3>{{ formulario.get("autoria")?.value }}</h3>
                </div>
              </div>
            </div>
          </div>
      </div>
    </fieldset>
    <div class="buttons">
      <button (click)="criarPensamento()"  [ngClass]="habilitarBotao()" [disabled]="!formulario.valid">Salvar</button>
      <button (click)="cancelarPensamento()" routerLink="/" class="button">Cancelar</button>
    </div>
  </form>
</section>
